.disclaimer-premium {
    position: fixed;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .disclaimer-premium {
        padding: 0 20px;
    }

    .disclaimer-premium .disclaimer-premium__title {
        font-size: 14px;
    }

    .disclaimer-premium .disclaimer-premium__subtitle {
        font-size: 14px;
    }

    .disclaimer-premium button {
        padding: 12px 24px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .disclaimer-premium {
        flex-direction: column;
        height: auto;
        padding: 16px;
        text-align: center;
    }

    .text {
        margin-bottom: 12px;
    }

    .disclaimer-premium button {
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 600px) {
    .disclaimer-premium {
        padding: 12px;
    }

    .disclaimer-premium .disclaimer-premium__title {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .disclaimer-premium .disclaimer-premium__subtitle {
        font-size: 12px;
    }

    .disclaimer-premium button {
        padding: 10px 20px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .disclaimer-premium {
        padding: 10px;
    }

    .disclaimer-premium .disclaimer-premium__title {
        font-size: 10px;
    }

    .disclaimer-premium .disclaimer-premium__subtitle {
        font-size: 10px;
    }

    .disclaimer-premium button {
        padding: 8px 16px;
        font-size: 10px;
    }
}
